@import "tailwindcss";

@theme {
  --color-primary: #FFFFFF;
  --color-secondary: #111111;
  --color-accent: #F26722;
  --color-background: #0A0A0A;
  --color-foreground: #FFFFFF;

  /* --font-serif: var(--font-playfair);
  --font-sans: var(--font-montserrat); */
  /* --font-mono: var(--font-geist-mono); */
  --font-geist: var(--font-geist);

  --radius-lg: 12px;
  --radius-md: 8px;
  --radius-sm: 4px;
}

:root {
  --background: #0A0A0A;
  --foreground: #FFFFFF;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-geist), serif;
}